*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  text-align: center;
  color: black;
  font-size: 36px;
}
.input__control {
  border-radius: 4px;
  box-shadow: inset;
  border-color: red;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 36px;
}
ul {
  list-style: none;
}
